-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: safeprio_db
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ordrar`
--

DROP TABLE IF EXISTS `ordrar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ordrar` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ordernummer` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `foretag` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `orgnr` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fornamn` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `efternamn` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefon` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `adress` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `postnr` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ort` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `meddelande` text COLLATE utf8mb4_unicode_ci,
  `produkter` json DEFAULT NULL,
  `totalt` decimal(10,2) DEFAULT NULL,
  `status` enum('ny','behandlas','skickad','klar') COLLATE utf8mb4_unicode_ci DEFAULT 'ny',
  `skapad` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ordernummer` (`ordernummer`),
  KEY `idx_ordrar_status` (`status`),
  KEY `idx_ordrar_skapad` (`skapad`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ordrar`
--

LOCK TABLES `ordrar` WRITE;
/*!40000 ALTER TABLE `ordrar` DISABLE KEYS */;
/*!40000 ALTER TABLE `ordrar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pricing_tiers`
--

DROP TABLE IF EXISTS `pricing_tiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pricing_tiers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'T.ex. "Standard (1-9, 10-24...)", "Per styck", "Per ark"',
  `name_en` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pricing_unit` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'st' COMMENT 'st, ark, m2, etc.',
  `tier_config` json NOT NULL COMMENT 'Array av ranges: [{"min":1,"max":1},...]',
  `description` text COLLATE utf8mb4_unicode_ci COMMENT 'Beskrivning av stafflingen',
  `description_en` text COLLATE utf8mb4_unicode_ci,
  `active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pricing_tiers`
--

LOCK TABLES `pricing_tiers` WRITE;
/*!40000 ALTER TABLE `pricing_tiers` DISABLE KEYS */;
/*!40000 ALTER TABLE `pricing_tiers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_groups`
--

DROP TABLE IF EXISTS `product_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_groups` (
  `id` int NOT NULL AUTO_INCREMENT,
  `prefix` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'VMS, VMA, PM, RC, RM, etc.',
  `size` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '210-300, 150-210, 150-12, etc.',
  `group_code` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'M, W, P, E, F, D, B, BG, BV, FG, LV, V, VA (NULL f?r PM/RC utan gruppindelning)',
  `symbol_category` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `designation_sv` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `designation_en` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description_sv` text COLLATE utf8mb4_unicode_ci COMMENT 'Produktbeskrivning p? svenska',
  `description_en` text COLLATE utf8mb4_unicode_ci COMMENT 'Produktbeskrivning p? engelska',
  `material_sv` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Material namn p? svenska (H?rdplast, Aluminium, Vinyldekal, etc.)',
  `material_en` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Material namn p? engelska',
  `price_sek_1` decimal(10,2) NOT NULL COMMENT 'Pris staffling 1 (1 st / 1-4 ark)',
  `price_sek_2` decimal(10,2) NOT NULL COMMENT 'Pris staffling 2 (2 st / 5-9 ark)',
  `price_sek_3` decimal(10,2) NOT NULL COMMENT 'Pris staffling 3 (3 st / 10-24 ark)',
  `price_sek_4` decimal(10,2) NOT NULL COMMENT 'Pris staffling 4 (4 st / 25-49 ark)',
  `price_sek_5` decimal(10,2) NOT NULL COMMENT 'Pris staffling 5 (5+ st / 50+ ark)',
  `price_eur_1` decimal(10,2) NOT NULL COMMENT 'Pris staffling 1 EUR',
  `price_eur_2` decimal(10,2) NOT NULL COMMENT 'Pris staffling 2 EUR',
  `price_eur_3` decimal(10,2) NOT NULL COMMENT 'Pris staffling 3 EUR',
  `price_eur_4` decimal(10,2) NOT NULL COMMENT 'Pris staffling 4 EUR',
  `price_eur_5` decimal(10,2) NOT NULL COMMENT 'Pris staffling 5 EUR',
  `sheets_per_unit` int DEFAULT NULL COMMENT 'Antal dekaler per ark (endast f?r RM): 20, 10, 7 eller 5',
  `pricing_tier_id` int DEFAULT NULL,
  `active` tinyint(1) DEFAULT '1' COMMENT 'Om produktgruppen ?r aktiv',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `images` text COLLATE utf8mb4_unicode_ci COMMENT 'Kommaseparerad lista med filnamn (utan s├Âkv├ñg)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_product_group` (`prefix`,`size`,`group_code`),
  KEY `idx_prefix` (`prefix`),
  KEY `idx_active` (`active`),
  KEY `pricing_tier_id` (`pricing_tier_id`),
  CONSTRAINT `product_groups_ibfk_1` FOREIGN KEY (`pricing_tier_id`) REFERENCES `pricing_tiers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Produktgrupper - Bas-information som delas mellan produkter med samma prefix, storlek och grupp';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_groups`
--

LOCK TABLES `product_groups` WRITE;
/*!40000 ALTER TABLE `product_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `id` int NOT NULL AUTO_INCREMENT,
  `product_group_id` int NOT NULL COMMENT 'Referens till product_groups',
  `symbol_id` int NOT NULL COMMENT 'Referens till symbols',
  `article_number` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'VMS_210-300_M-M002 (med underscore)',
  `product_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'VMS 210-300 M - M002 (med mellanslag)',
  `active` tinyint(1) DEFAULT '1' COMMENT 'Om produkten ?r aktiv och visas p? hemsidan',
  `featured` tinyint(1) DEFAULT '0' COMMENT 'Om produkten ska visas som utvald',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `article_number` (`article_number`),
  UNIQUE KEY `unique_product` (`product_group_id`,`symbol_id`),
  KEY `symbol_id` (`symbol_id`),
  KEY `idx_article_number` (`article_number`),
  KEY `idx_active` (`active`),
  KEY `idx_featured` (`featured`),
  CONSTRAINT `products_ibfk_1` FOREIGN KEY (`product_group_id`) REFERENCES `product_groups` (`id`) ON DELETE CASCADE,
  CONSTRAINT `products_ibfk_2` FOREIGN KEY (`symbol_id`) REFERENCES `symbols` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1685 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Produkter - Kompletta produkter som kopplar produktgrupper med symboler';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `symbols`
--

DROP TABLE IF EXISTS `symbols`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `symbols` (
  `id` int NOT NULL AUTO_INCREMENT,
  `symbol_code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'M002, W015, PM001, BG001, RC015, etc.',
  `category` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name_sv` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Symbolnamn p├Ñ Svenska',
  `name_en` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Symbolnamn p├Ñ Engelska',
  `active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `images` text COLLATE utf8mb4_unicode_ci COMMENT 'Kommaseparerad lista med filnamn (utan s├Âkv├ñg), ex: placeholder.svg,image2.jpg',
  PRIMARY KEY (`id`),
  UNIQUE KEY `symbol_code` (`symbol_code`),
  KEY `idx_symbol_code` (`symbol_code`),
  KEY `idx_active` (`active`)
) ENGINE=InnoDB AUTO_INCREMENT=301 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Symboler - Namn och bilder f?r produktsymboler';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `symbols`
--

LOCK TABLES `symbols` WRITE;
/*!40000 ALTER TABLE `symbols` DISABLE KEYS */;
/*!40000 ALTER TABLE `symbols` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `view_products_full`
--

DROP TABLE IF EXISTS `view_products_full`;
/*!50001 DROP VIEW IF EXISTS `view_products_full`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_products_full` AS SELECT 
 1 AS `id`,
 1 AS `article_number`,
 1 AS `product_name`,
 1 AS `active`,
 1 AS `featured`,
 1 AS `created_at`,
 1 AS `symbol_id`,
 1 AS `prefix`,
 1 AS `size`,
 1 AS `group_code`,
 1 AS `symbol_category`,
 1 AS `designation_sv`,
 1 AS `designation_en`,
 1 AS `material_sv`,
 1 AS `material_en`,
 1 AS `description_sv`,
 1 AS `description_en`,
 1 AS `price_sek_1`,
 1 AS `price_sek_2`,
 1 AS `price_sek_3`,
 1 AS `price_sek_4`,
 1 AS `price_sek_5`,
 1 AS `price_eur_1`,
 1 AS `price_eur_2`,
 1 AS `price_eur_3`,
 1 AS `price_eur_4`,
 1 AS `price_eur_5`,
 1 AS `sheets_per_unit`,
 1 AS `product_group_images`,
 1 AS `pricing_unit`,
 1 AS `staffling_config`,
 1 AS `symbol_code`,
 1 AS `symbol_category_code`,
 1 AS `symbol_name_sv`,
 1 AS `symbol_name_en`,
 1 AS `symbol_images`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `view_products_full`
--

/*!50001 DROP VIEW IF EXISTS `view_products_full`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_products_full` AS select `p`.`id` AS `id`,`p`.`article_number` AS `article_number`,`p`.`product_name` AS `product_name`,`p`.`active` AS `active`,`p`.`featured` AS `featured`,`p`.`created_at` AS `created_at`,`p`.`symbol_id` AS `symbol_id`,`pg`.`prefix` AS `prefix`,`pg`.`size` AS `size`,`pg`.`group_code` AS `group_code`,`pg`.`symbol_category` AS `symbol_category`,`pg`.`designation_sv` AS `designation_sv`,`pg`.`designation_en` AS `designation_en`,`pg`.`material_sv` AS `material_sv`,`pg`.`material_en` AS `material_en`,`pg`.`description_sv` AS `description_sv`,`pg`.`description_en` AS `description_en`,`pg`.`price_sek_1` AS `price_sek_1`,`pg`.`price_sek_2` AS `price_sek_2`,`pg`.`price_sek_3` AS `price_sek_3`,`pg`.`price_sek_4` AS `price_sek_4`,`pg`.`price_sek_5` AS `price_sek_5`,`pg`.`price_eur_1` AS `price_eur_1`,`pg`.`price_eur_2` AS `price_eur_2`,`pg`.`price_eur_3` AS `price_eur_3`,`pg`.`price_eur_4` AS `price_eur_4`,`pg`.`price_eur_5` AS `price_eur_5`,`pg`.`sheets_per_unit` AS `sheets_per_unit`,`pg`.`images` AS `product_group_images`,`pt`.`pricing_unit` AS `pricing_unit`,`pt`.`tier_config` AS `staffling_config`,`s`.`symbol_code` AS `symbol_code`,`s`.`category` AS `symbol_category_code`,`s`.`name_sv` AS `symbol_name_sv`,`s`.`name_en` AS `symbol_name_en`,`s`.`images` AS `symbol_images` from (((`products` `p` join `product_groups` `pg` on((`p`.`product_group_id` = `pg`.`id`))) join `symbols` `s` on((`p`.`symbol_id` = `s`.`id`))) left join `pricing_tiers` `pt` on((`pg`.`pricing_tier_id` = `pt`.`id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-05 17:34:50
