@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700); /* Standard font, 400=Normal, 700=Bold */
/****
	article.css 
	Skapad av Patricio Santiago
	Copyright Kortsystem i Gislaved AB
	Version 1.3 - 2016-03-10
****/	

/************** Content Frames ****************/
.content { /* Hela innehållet under menyn */
	padding-top:90px; /* Plats top menyn tar, pga fixed syns inget under */
	width:100%;
}
.article { /* Skapa storlekar inom content */
	margin:0 auto; /* centrerar */
	width:94%; /* ger 3% marginaler åt varje sida */
	max-width:960px; /* stoppar tillväxt av websidan när man når denna mått */
}
.content .wrapper { /* Buggfix - bara wrapper stör navigation.css */
	padding-top:30px;
	overflow:auto; /* gör att 'float:left' ej hamnar utanför article */	
}
/************** Content Headers & Text ****************/
.header {
	color:#900; /* mörkröd */
	font-weight:bold;
	font-size:150%; /* 24px till % (formula 24/16*100) 16px är 100% */
	padding-top:40px;
}
.description {
	color:#333; /* mörkgrå */
	font-weight:bold;
	font-size:100%; /* 16px */
}
.selection_header {
	color:#333; /* mörkgrå */
	font-weight:bold;
	font-size:100%; /* 24px till % (formula 24/16*100) 16px är 100% */
	padding:10px 0 10px 7.5%; /* top-right-bottom-left */

	position:relative; /* Behövs för pil, se Objects */
	/*width:100%;*/
}
.image_text { /* lilla texten under små bilder */
	text-align:center;
	color:#999; /* Ljus grå */
	font-size:68.75%; /* 11px - 11/16*100 */
}
/************** Content Objects ****************/
.images { /* bild block - innehåller en stor och 3 små */
	width:35%;
	float:left;
}
.image_small { /* små bilder, 3 st på 100% */
	display:inline-block; /* används istället för float - skapar space, så gör width 1% mindre */
	width:32%;
	margin-top:10px; /* sänk små-bilder så de inte slår den stora */
}
.image_big > img, .image_small img { /* Endast SVG - Gäller <img> direct efter image class */
	/* IE fix */
	width:100%;
	height:auto; /* auto */
	
	/* Fluid (funkar det ej på IE (plattar bild)) */
	max-width:100%;
	
	border-radius:4px; /* ger bilder rund kant!! OBS!!! Större bilder sen!! kanske får bli egen klass */
}
.image_big > img {
	height:350px; /* auto */
}
.selection { /* val block - innehåller de valen */
	width:58.5%;
	float:left;
}

/************** Selection Box ****************/
.selection_group, .order { /* En grå outlined låna */
	border:2px solid #e5e7ed;
	border-radius:4px;

	margin:10px 5%; /* top/down - right/left */
	padding:35px 10px 10px; /* top - right/left - bottom */

	position:relative; /* För att "type" ske till kanten. */
}
.selection_type, .order_head {
	position:absolute; /* group måste vara relative */
	padding:1px 16px 3px; /* top - right/left - bottom (har +2px pga border 2px) */
	border-bottom-right-radius:4px;

	font-size:87.5%; /* 14px [14/16*100]*/
	color:#666; /* mörkgrå */
	background-color:#e5e7ed; /* ljusgrå */

	top:0;
	left:0;
}
.selection_group {
	width:96.5%;
}
.button_group {
	text-align:center; /* center all the buttons */
}
.button_group > .button {
	display:inline-block; /* make the blocks (aka <li>, inte <div>) */

	margin:3px 0; /* top/bottom - right/left */
	padding:0 16px; /* -"- */
	/* border-right:1px solid #f5f5f5; /* skapar en tunn linje efter varje ruta*/

	height:31px;
	line-height:31px;
		
	font-size:87.5%; /* 14px [14/16*100]*/
	background-color:#e5e7ed; /*ljusgrå */
	color:#333;
	text-decoration:none;
	
	border-radius:3px;
}
.button_group > .button:hover {
	background: #ccc;
}
.button_group > .button.active {
	border-radius:4px;
	padding-left:26px;

	height:33px;
	line-height:33px;

	font-size:100%;
	background-color:#e1fac9;
	border:2px solid #61a136;
	
	position:relative;
}
.button_group > .button.active:before {
	content:'';
	position:absolute;
	width:10px;
	height:4px;
	
	border:solid #61a136;
	border-width:0 0 3px 3px;
	
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);

	top:12px;
	left:7px;
}
/************* Order box **************/
.order { /* En grå outlined låna - Inherit från "selection_group" ovan */
	margin:10px 3% 30px 0;; /* top/down - right/left */
}
.order_head { /* inherit från "selection_type" ovan */
	padding-top:3px;
}
.order_discount, .order_special {
	display:inline-block; /* Anpassar box storlek (obs! div före/efter måste vara block) */
	margin:20px 0 10px -12px;	/* Anpassar så den hamnar vid kant osv. */
	padding:3px 16px; 
	border-top-right-radius:4px;	
	border-bottom-right-radius:4px;	
	
	font-size:87.5%; /* 14px [14/16*100]*/
	color:#666; /* mörkgrå */
	background-color:#e5e7ed; /* ljusgrå */
}
.order_content { /* texten i pris box */
	color:#666; /* mellan grå*/
	font-weight:normal;
	font-size:100%; /* 16px */
}
#price { /* Själva priset (är ID pga av javascript selection) */
	color:#61a136; /* mörkgrön */
	font-size:125%; /* 20px */
	font-weight:bold;
	margin-bottom:10px;
}
#addCart, #disableCart, #addSample, #disableSample, #removeSample { /* Lägg till kundvagn knapp */
	display:inline-block;
	height:29px;
	line-height:29px;
	
	margin-left:10px;
	margin-bottom:10px;
	padding:0 14px;
	border-radius:4px;
	
	font-size:87.5%;
	background-color:#004fa2; /* mörkblå*/
	color:#fff;

	text-align:center;
	text-decoration:none;
	transition:background-color 1.0s;
}
#addCart:hover {
	background-color:#5380db;
}

#addSample {
	background-color:#61a136;
}

#addSample:hover {
	background-color:#76c048;;
}

#removeSample {
	background-color:#f35353;
}

#removeSample:hover {
	background-color:lightcoral;
}

#disableCart, #disableSample {
	background-color:#666;
}
#disableCart:hover, #disableSample:hover {
	background-color:#999;
}
#amountCart, .content .t_selection input, .content .gss input[type="text"] {
	border:2px solid #e5e7ed;
	border-radius:4px;
	width:80px;

	padding-left:1%;
	margin-left:4px;
	text-align:left;
	
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
	transition:border-color 1.0s;
}
#amountCart:hover, .content .t_selection input:hover, .content .gss input[type="text"]:hover {
	border-color:#ccc;
}
#amountCart:focus, .content .t_selection input:focus, .content .gss input[type="text"]:focus {
	border-color:#004fa2;
	outline:none;
}
#amountAuto {
	color:#004fa2; /* mörkgrön */
	font-size:125%; /* 20px */
	font-weight:bold;
}
/************ Discount Section **********/
/* Progressbar */
.progress { /* Detta är den gråa stripe under mängdrabatten */
	background-color:#e5e7ed; /* ljusgrå som borders */
	border-radius:4px;
	position:relative; /* För att skapa > i slutet */
}
.progress:after { /* Skapar en > i slutet av progressbar */
	content:'';
	position:absolute;
	border:8px solid #fff;
	border-left-color:transparent;
	
	right:-8px;
	top:0px;
}
.progressbar { /* Själva progress bar*/
	height:16px;
	border-radius:4px;
	
	transition: 0.4s linear;
	transition-property: width, background-color;
	
	/* Detta är färg och bredd för progressbar, valet för 1 skrivs här. */
	/* Obs! att resten av width och färg görs från javascript */
	/* width:6.5%; PHP avgör nu starten - detta gällde 20/3 */
	background-color: #f63a0f; /* Röd */
}
.batch-amount, .batch-price {
	width:100%;
	font-size:0;
}
.batch-amount>div, .batch-price>div {
	display:inline-block;
	width:20%;
	font-size:14px;
	text-align:center;
	border-right:2px solid #666;
	padding:0 1%;

	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.batch-amount>div:last-child, .batch-price>div:last-child {
	border-right:none;
}
.batch-price>div {
	vertical-align:top;
}

/************ Information knapp Section **********/
.content .information { /* Själv (i) ikonen */
	display:inline-block;
	position:relative;
	margin-left:10px; /* Flyttar (i) ifrån texten */
	vertical-align:middle;
	transition:background-color 0.5s, width 0.5s, border-radius 0.5s;
	cursor:help;
	/* Ring */
	width:20px;
	height:20px;
	border-radius:10px;
	background-color:#004fa2; /* mörkblå */
}
.content .information > i { /* själv i finns i efter pga i:after längre ner */
	padding-left:6px;
	line-height:20px; /* vertikal centrerar text (samma storlek som höjd) */
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif; /* old school i */
	color:white;
}
.content .information:hover { /* forma om ring vid hover */
	background-color:#900; /* mörkröd */
	width:115px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.content .information:hover > i:after {
	content:'nformation'; /* fyller resten av text när man hover */
}
.content .information > span { /* Inforutan */
	display:block;
	position:absolute;
	z-index:900; /* Navigation har 1000, så den hamnar under nav, men över allt annat */
	border:2px solid #900;
	border-radius:10px;
	border-top-left-radius:0;
	font-weight:normal;
	font-size:14px;
	color:black;
	background-color:white;
	text-align:left;
	padding:10px;
	width:350px;

	margin-left:-2000px; /* flyttar så den inte syns (display none funkar inte med transitions */

	left:0px;
	top:20px;
	opacity:0; /* gör osynlig för animering */
	transition:opacity 1s;
}
.content .information:hover > span {
	margin-left:0;
	opacity:1;
}
.content .information > span > i {
	color:#666;
}

/************ T-tecken val Section **********/
.content .t_selection ul { /* Detta är rader */
	list-style-type:none;
	margin:8px 0;
}
.content .t_selection li { /* Detta är varje block */
	display:inline-block;
	width:9%;
}
.content .t_selection li div { /* Finns 2 divs i varje block */
/* Obs, problem som finns är att detta ritar upp gula rutan med tecken
i helvetica eller arial, men font måste vara på båda div's annars blir
det positionering fel. Antar de har med font marginaler. */
	display:inline-block;
	border:1px solid #666;
	background-color:yellow;
	width:25px;
	height:35px;
	line-height:35px;
	text-align:center;
	font-weight:bold;
  font-family:Helvetica, Arial, sans-serif;
	font-size:25px;
	margin:2px;
}
.content .t_selection li div.arrow { /* CSS rita en pil med before och after */
	position:relative;
}
.content .t_selection li div.arrow:before { /* rektangel kroppen */
	position:absolute;
	content:'';
	width:7px;
	height:16px;	
	background-color:black;
	top:5px;
	left:9px;
}
.content .t_selection li div.arrow:after { /* pekar ner pil huvud */
	position:absolute;
	content:'';
	width:0;
	height:0;
	border:8.5px solid transparent;
	border-top-color:black;	
	top:21px;
	left:4px;
}
.content .t_selection li div:last-child { /* Div för antal, border och gul ska bort */
	background-color:transparent;
	border-color:transparent;
}
.content .t_selection input { /* Input för T-tecken val, inherit från amountCart */
	/* Ändringar av amountCart */
	width:35px;
	height:35px;
	border-radius:6px;
	padding-left:0;
	margin-left:0;
	/* Återställning från gula div */	
	text-align:center;
	font-family:'Open Sans','sans-serif';
	font-size:22px;
	line-height:35px;
}
.content .t_selection input.green { /* JS class som läggs in när value in är tom */
	border-color:#76c048; /* Grön */
	background-color:#ebfde8; /* ultraljustgrön (backgrund) */
}
/************ GSS val Section **********/
.content .gss input[type="text"] { /* Input för GSS val, inherit från amountCart */
	/* Ändringar av amountCart */
	width:50px;
	height:25px;
	border-radius:6px;
	padding-left:0;
	margin-left:0;
	/* Återställning från gula div */
	text-align:center;
	font-size:1em;
	line-height:25px;
    
    transition: background-color 0.5s ease;
}

/* Temp, ska hamna i js senare. */
.content .gss input[type="text"] {
    background-color: #e1fac9;
    border: 2px solid #61a136;
}

.content .gss input[type="text"]:hover {
    border-color:#004fa2;
}

.content .gss input[type="text"]:focus {
    background-color: #fff;
}

.preview > div {
    background-color: yellow;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    
    height: 64px;    
	line-height:64px;
    
	text-align:center;
	font-weight:bold;
    font-family:Helvetica, Arial, sans-serif;
	font-size:68px;
}

.preview .small {
    width: 90px;
}
.preview .medium {
    width: 135px;
}
.preview .large {
    width: 180px;
}

.jumps > div {
    margin: 12px 0;
}
.jumps label {
    display: inline-block;
    cursor: pointer;

    height: 24px;
    padding-left: 32px;

    position: relative;
}
.jumps input[type="radio"] {
    width: 24px;
    height: 24px;
    
    opacity: 0;
    
    position: absolute;
    left: 0;
}

.jumps .radio {
    display: block;
    height: 24px;
    width: 24px;
    background-color: #e5e7ed;
    border-radius: 12px;
	box-sizing: border-box;
        
    position: absolute;
    left: 0;
}

.jumps .radio:before {
    content: '';
    margin: 6px;
	width: 12px;
	height: 12px;
	background: #61a136;
	border-radius: 6px;
    
    display: none; 
}
.jumps .radio:after {
    content: '';
    width: 20px;
    height: 20px;
	border: 2px solid #61a136;
	border-radius: 12px;
    
    position: absolute;
    top: 0;
    
    display: none;
}
.jumps input[type="radio"]:hover + .radio:after {
    display: block;
    border-color: #aaa;
}
.jumps input[type="radio"]:focus + .radio:after {
    display: block;
    border-color: #61a136;
}
.jumps input[type="radio"]:checked + .radio:before, 
.jumps input[type="radio"]:checked + .radio:after {
    display: block;
}
.jumps input[type="radio"]:checked + .radio {
    background-color: #e1fac9;
}

.content .gss > div {
    padding-left: 3%;
}

.jumps .tx {
    display: inline-block;
    width: 65px;
}

.jumps .ex {
    display: inline-block;
    margin-left: 3px;

    background-color: yellow;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.10), 0 2px 5px 0 rgba(0, 0, 0, 0.20);

	/* width:28px; */
    padding: 0 4px;
	height:24px;
    
	line-height:24px;
	text-align:center;
	font-weight:bold;
    font-family:Helvetica, Arial, sans-serif;
	font-size:18px;
    
    transition: 0.5s ease;
}

/* .jumps input[type="radio"]:checked ~ .ex {
    background-color: yellow;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.10), 0 2px 5px 0 rgba(0, 0, 0, 0.20);
} */
.jumps .tx input[type="text"] {
    background-color: #e5e7ed;
    border: 2px solid  #e5e7ed;
    transition: 0.5s ease;
}
.jumps .tx input[type="text"]:hover {
    border-color: #999;
}

.jumps .tx input[type="text"]:focus {
    border-color: #004fa2;
    background-color: #fff;
}

.jumps input[type="radio"]:checked ~ .tx input[type="text"] {
    border-color: #61a136;
    background-color: #e1fac9;
}

.zeros select, .colour select {
    border: 2px solid  #61a136;
    border-radius: 6px;
    padding-left: 8px;
    transition: 0.5s ease;
    background-color: #e1fac9;
}
.zeros select:hover, .colour select:hover {
    border-color: #004fa2;
}

.zeros select:focus, .colour select:focus {
    border-color:#004fa2;
    outline: none;
}


.content .gss .divition {
    height: 1px;
    background-color: #ccc;
    margin: 8px 0;
    padding-left: 0;
}
.mntxt {
    font-size: 0.75em;
    color: #900;
}
/* Varselmärkning */
.vm_box {
	display:inline-block; /* Anpassar box storlek (obs! div före/efter måste vara block) */
    
	margin:5px;	/* Anpassar så den hamnar vid kant osv. */
	padding:5px; 
	
	text-align: center;
}

/* vm_group_# är group nr i ks_varsel tabell. Fixar storleken på vad du ska välja. Selected är hur långt upp eller ner den lilla gröna checkbox ska vara. 
	0 - varselmärkning / vml / placeringsdelak stående
	1 - rörmärkning
	2 - visual management
	3 - placeringdekal liggandes

*/
.vm_group_0 {
    width: 150px;
}
.vm_group_0.selected > a > div:first-child:before {
    top: 216px;
}

.vm_group_1 {
    width: 275px;
}
.vm_group_1.selected > a > div:first-child:before {
	top: 38px;
}

.vm_group_2 {
    width: 150px;
}
.vm_group_2.selected > a > div:first-child:before {
    top: 110px;
}

.vm_group_3 {
    width: 220px;
}
.vm_group_3.selected > a > div:first-child:before {
	top: 160px;
}

.vm_box > a {
    color: #333;
    text-decoration: none;
    transition: font-weight 0.5s ease;
}
.vm_box > a:hover {
    color:#004fa2;
}
.vm_box > a > div:first-child {
    border: 2px solid #fff;
    border-radius:0px;
    transition: 0.3s ease;
}
.vm_box > a > div:first-child:hover {
    border-color:#004fa2;
}
.vm_box.selected > a > div:first-child {
    border-color: #61a136;
    position: relative;
}
.vm_box.selected > a > div:first-child:before {
	content:'';
	position:absolute;
	width:10px;
	height:4px;
	
	border:solid #61a136;
	border-width:0 0 3px 3px;
	
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);

	left:10px;
}
.vm_box.selected > a {
    font-weight: bold;
    color: #61a136;
}
/* Vid 767px ska det shifta till mobil-läge */
@media screen and (max-width: 767px) {
.header { /* header ligger för långt ner normalt */
	padding-top:0;
}

/* bild och selection inom wrapper ska nu vara efter varandra */
.images {
	width:100%;
	float:none;
}
.selection {
	width:95%;
	max-width:100%;
	float:none;
}
.selection_header {
	padding:10px 0 10px 6%;
	width:auto;
}
.selection_header:before { /* pil ner */
	content:''; /* för att det ska fungera måste det finnas "content" i detta fallet inget */
	position:absolute; /* Parent måsta vara 'relative' */
	
	border:8px solid transparent; /* del 1 att skapa en ruta med endast borders, ingen färg */
	border-left-color:#333; /* del 2 färga endast ett hörn för att då riktning på den */
	
	left:2%; /* 10+10 = 20px box. 100-20 = 80/2 = 40% */
	top:13px; /* 60-20 = 40px för att pilen ska hamna i lådan */	
}
.selection_group, .order {
	margin:10px 0;
}
.selection group {
	padding-left:0;
	padding-right:0;	
}
#selection_hide {
	display:none;
}
.batch-amount>div, .batch-price>div {
	font-size:12px;
}
.content .information { /* (i) knapp försvinner från mobil för tillfället */
	display:none;
}
}
@media print {
	.content {
		padding-top:0;
	}
	.content .information, .content .selection_header { /* (i) vid print */
	   display:none;
	}
}