@charset "utf-8";
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700); */ /* Standard font, 400=Normal, 700=Bold */
/****
	con-styles.css 
	Skapad av Patricio Santiago
	Copyright Kortsystem i Gislaved AB
	Version 1.0 - 2014-11-01
****/	

/* Både html och body måste ha en % sats för att flytta ner allt så man ser Backstretch
   Detta gäller dock bara första sidan (index). Därför finns den koden inte här utan har
   flyttats till index-filen för att undvika problem med andra sidor.
html,body { height:92%; }*/
.back_stretch { /* Får inte heta .backstretch (reserved för jquery) */
	min-height:100%;
}
.content {
	padding-top:90px; /* Detta är hur mycket plats top menyn tar, eftersom det är fixed syns inget under */
	width:100%;
}
.content.startpage { /* Vid Index så gäller 92%, behövs inte padding, pga av Backstretch måste man ha bg */
	padding-top:0;
	background-color:#fff;
}
article {
	margin:0 auto; /* centrerar */
	width:93%; /* ger 3.5% marginaler åt varje sida */
	max-width:960px; /* stoppar tillväxt av websidan när man når denna mått */
	overflow:auto; /* gör att 'float:left' ej hamnar utanför article */	
}
/* Skapar innehåll efter varandra, class inline more med för att sätta efter varandra */
/* Headers */
.header { /* Standard rubrik som används */
	color:#900;
	font-weight:bold;
	font-size:150%; /* 24px till % (formula 24/16*100) 16px är 100% */
	padding-top:40px;
}
.header.big { /* Jätte rubrik (används endast i Index än så länge) */
	font-size:312.5%; /* 50px till % (formula 50px/16px*100) [16px är 100%] */
}
.header.small { /* Används oftast som underrubrik till standard rubrik */
	font-size:100%;
	padding-top:0;
}
.header.iSmall {
	font-size:100%;
	padding-top:20px;
}
/* Text and Images */
.text { /* vanliga Paragraf text */
	padding-top:20px;
}
.red {
	color:#900;
	font-weight:bold;
}
.xmas {
  padding-top: 0;
}
.image { /* Div som bilden är på */
	max-width:35%;
}
img { /* Detta gäller själva bilden - ALLT för SVG */
	/* IE fix */
	width:100%;
	height:auto;
	
	/* Resize so den passar... men IE funkar det ej på (plattar bild) */
	max-width:100%;
}
.img { /* Taggen läggs in när det är inte SVG... px size sätter man in i <img> */
	width:auto;
	height:auto;
}
/*  */
.inline { /* läggs på objekt som ska vara efter varandra */
	display:inline-block;
}

/* Framsidan index / de 4 pelare*/
.pillars {
	overflow:auto;
	margin-top:40px;
	
}
.pillar {
	display:block;
	float:left;
	width:23%;
	margin:0 1%;
	text-decoration:none;
}
.roof {

}
.ground {
	background-color:#004fa2;
	position:relative;
	
	margin-top:25px;
	border-radius:3px;
	padding:10px 5%;
}
.ground:before {
	content:'';
	position:absolute;
	
	border:20px solid transparent;
	border-bottom-color:#004fa2;
	
	left:40%; /*  */
	top:-40px; /* bottom -12*2 = -24px */	
}
.ground>.header, .ground>.text {
	color:#fff;
	padding:0;
}

/* Produkt Kategorier Menyn */
.menuCategori { /* menyn för produkter - rätt unik så den får egen styling */
	margin-top:4px;
	background-color:#004fa2;
	padding:20px 0 40px;
}

.columnCategori {
	width:33.333333%;
	float:left;
}

.menuCategori a { /* Moder kategorier */
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	margin-top:20px;
}
.menuCategori a:hover {
	text-decoration:underline;
}
.menuCategori .subCategori { /* Under kategorier*/
	font-weight:normal;
	margin-top:0px;
	padding-left:20px;
	position:relative;
}

.menuCategori .subCategori:before { /* skapar en L för submenyer */
	content:'';
	position:absolute;
	/* ytan på benen*/
	height:6px;
	width:6px;
	/* gör helt enkelt en vit border runt om, sen sätter T och R till 0 */
	border:2px solid #fff;
	border-right-width:0;
	border-top-width:0;
	/* position av benen */
	top:5px;
	left:5px;
}


/* Selection är till för att visa en produkt som man ska välja tydligt 
   använd i dokument och categories.
   Article används för specifika producter, följer liknande men ändå inte */
.selection, .article {
	display:block;
	text-decoration:none;
	margin:40px 0 40px 0;

}
.selection>.image, .selection>.frame {
	display:inline-block;
	vertical-align:middle; /* fungerar endast med inline-block på display */
}
.article>.image, .article>.frame {
	display:inline-block;
	vertical-align:top;
}
.frame.choices {
/*	background-color:#09C; */
}
.frame.choices>.header {
	padding:0;
}
.frame.choices>.header.small {
	color:#666;
}
.selection>.image {
/*	width:300px;*/
}

.selection>.frame {
	/* margin-left:-4px; /* När man gör inline-block så blir det 4px space mellan element vid ny rad */
	margin-left:16px; /* ny margin, 16px - 4px (kolla ovan) 1.666666% */
	background-color:#004fa2; /* Vanliga mörkblå*/
	color:#fff;
	width:62%; /* (65% pga image är 35%) pga pil margin måste vi sänka till 62%  */
	position:relative;
	border-radius:3px;
}
.article>.frame {
	width:62%;
	margin-left:16px;
}
.selection>.frame:before { /* skapar själva pilen */
	content:''; /* för att det ska fungera måste det finnas "content" i detta fallet inget */
	position:absolute; /* funkar endast om <a> har 'relative' - kolla uppe */
	border:16px solid transparent; /* del 1 att skapa en ruta med endast borders, ingen färg */
	border-right-color:#004fa2; /* del 2 färga endast ett hörn för att då riktning på den */
	
	left:-32px; /* för att hamna i kant - 16*2=32px; */
	top:38%; /* för att hamna i mitten - 16*2=32 100-32=68/2=34% */	
}
.selection>.frame>.header.small, .selection>.frame>.text {
	color:#fff;
	padding:10px 10px 0;
}
.selection>.frame>.text {
	padding-bottom:20px;
}
.selection>.frame>.next {
	text-align:right;
	padding:0 24px 10px 0;
	position:relative;
}
.selection>.frame>.next:before { /* skapar själva pilen - se tidigare comments */
	content:'';
	position:absolute;
	border:6px solid transparent;
	border-left-color:#fff;
	
	right:4px; /* för att hamna i kant - 16*2=32px; */
	top:6px; /* för att hamna i mitten - 16*2=32 100-32=68/2=34% */	
}
/* Gruppering till bland annat knappar */
.buttongroup {
	display:inline-block;
	border:2px solid #e5e7ed;
	border-radius:4px;
	margin:10px 20px 10px 0;
	padding:40px 10px 10px;
	position:relative;
}
.buttongroup>.title {
	position:absolute;
	background-color:#e5e7ed;
	padding:1px 16px;
	font-size:14px;
	color:#666;

	border-bottom-right-radius:3px;	

	top:0;
	left:0;
}
.buttongroup>.chapter {
	display:inline-block;
	background-color:#e5e7ed;
	padding:1px 16px;
	font-size:14px;
	color:#666;
	margin:20px 0 10px -12px;
	
	border-top-right-radius:3px;	
	border-bottom-right-radius:3px;	
}
/* Multichoice knappar */
.buttons {
	font-size:0;
	white-space:nowrap;
}
.buttons>.button:first-child {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.buttons>.button:last-child {
	border:0;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.buttons>.button {
	display:inline-block;
	height:31px;
	line-height:31px;
	font-size:14px;
	padding:0 16px;
	background-color:#e5e7ed;
	border-right:1px solid #f5f5f5;
	
	color:#000;
	text-decoration:none;
	text-align:center;
}
.buttons>.button:hover {
	background: #ccc;
}
.buttons>.button.active {
	position:relative;
	height:33px;
	line-height:33px;
	font-size:16px;
	background-color:#e1fac9;
	border:2px solid #61a136;
	border-radius:4px;
	padding-left:26px;
}
.buttons>.button.active:before {
	content:'';
	position:absolute;
	width:10px;
	height:4px;
	
	border:solid #61a136;
	border-width:0 0 3px 3px;
	
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);

	top:12px;
	left:7px;
}
/* Inputs inom buttongroup */
.amount {

}
.amount>input {
	border:2px solid #e5e7ed;
	border-radius:3px;
	width:80px;
	padding:0 1%;
	margin-left:4px;
	text-align:right;
	
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
	transition:border-color 1.0s;
}
.amount>input:hover {
	border-color:#ccc;
}
.amount>input:focus {
	border-color:#004fa2;
	outline:none;
}
/* Pris box */
.price, #price {
	color:#61a136;
	font-size:24px;
	font-weight:bold;
	margin-bottom:10px;
}
.price>span, .amount {
	color:#666;
	font-weight:normal;
	font-size:18px;
}
.addCart {
	display:inline-block;
	height:31px;
	line-height:31px;
	font-size:14px;
	padding:0 16px;
	background-color:#004fa2;
	border-radius:3px;
	
	color:#fff;
	text-decoration:none;
	text-align:center;
	
	vertical-align:top;
	margin-left:3%;
	
	transition:background-color 1.0s;
}
.addCart:hover {
	background-color:#5380db;
}
/* Progressbar */
.progress { /* Detta är den gråa stripe under mängdrabatten */
	background-color:#e5e7ed;
	border-radius:4px;
	position:relative;
}
.progress:after { /* fixar progressbar > i slutet */
	content:'';
	position:absolute;
	border:8px solid #fff;
	border-left-color:transparent;
	right:-8px;
	top:0px;
}

.progressbar {
	height:16px;
	border-radius:4px;
	transition: 0.4s linear;
	transition-property: width, background-color;
	
	/* Like med 1 ... byt bort sedan för gruppering */
	width:6.5%;
	background-color: #f63a0f;
}
.buttongroup.full {
	width:96%;
	margin:0;
	padding:30px 2% 10px 2%;
}
/* batch input - är mängdrabatter som är vid progress bar */
.batch-amount, .batch-price {
	width:100%;
	font-size:0;
	white-space:nowrap;
}
.batch-amount>div, .batch-price>div {
	display:inline-block;
	width:20%;
	font-size:14px;
	text-align:center;
	border-right:2px solid #666;
	
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.batch-amount>div:last-child, .batch-price>div:last-child {
	border-right:none;
}
/* Extra add-ons for Dokument*/
.image.download {
	max-width:25%;
}
.selection>.frame.download {
	width:72%;
}
img.documents {
	border:1px solid #004fa2;
}

/* Kontakt Styles */
.companyContact {
	background-color:#004fa2;
	color:#fff;
	
	overflow:auto;
	margin:20px 0;
	padding:10px 0;
}
.companyInfo {
	float:left;
	padding-left:3%;
	width:37%;
}
.companyMap {
	float:left;
	width:57%;
	height:260px;
}
.contactName {
	font-size:1.3125em;
	font-weight:bold;
  padding-top: 10px;
}
.contactTitle {
	font-size:0.875em;
}
.contactInfo, .contactAddress {
	padding:10px 5%;
}

.personWrapper {
	overflow:auto;
}
.personContact {
	float:left;
	margin:20px 0.5%;
	width:32.333333%;
}
.personInfo {
	background-color:#004fa2;
	color:#fff;
	padding:10px 0 10px 3%;
	margin-bottom:12px;
	border-radius:3px;
	position:relative;
}
.personInfo:before {
	content:'';
	position:absolute;
	
	border:12px solid transparent;
	border-top-color:#004fa2;
	
	left:3%; /*  */
	bottom:-24px; /* bottom -12*2 = -24px */	
	
}
.contactMail, .contactTitle.person {
	padding-left:3%;
}
.personImage {
	height:auto;
}

/* Vid 767px ska det shifta till mobil-läge */
@media screen and (max-width: 767px) {
	.image, .image.download { /* Div som bilden är på */
		max-width:100%;
	}
	.header {
		padding-top:20px;
	}
	.header.big { /* Jätte rubrik (används endast i Index än så länge) */
		font-size:250%; /* 40px till % (formula 40px/16px*100) [16px är 100%] */
	}

	.pillar {
		width:48%;
		margin-bottom:10px;
	}
	/* Fixar valen i kategorier */
	.selection>.frame, .selection>.frame.download {
		width:100%; /* Mobilview är det 100%  */
		margin:20px 0 0;
	}

	.selection>.frame:before { /* skapar själva pilen */
		border:16px solid transparent; /* del 1 att skapa en ruta med endast borders, ingen färg */
		border-bottom-color:#004fa2; /* del 2 färga endast ett hörn för att då riktning på den */
	
	
		left:1%; /* piler pekar upp nu på toppen (dock ej i mitten) */
		top:-32px; /* fixar så marginaler är i kanter */	
	}
	.article>.frame {
		width:100%;
		margin:0;
		padding:0;
	}
	.buttongroup.full {
		width:95%;
		margin:0;
		padding:30px 2% 10px 2%;
	}
	
	/* Produktmenyn */
	.menuCategori { /* menyn för produkter - rätt unik så den får egen styling */
		margin-top:-22px;
		background-color:#004fa2;
		padding:0;
	}
	.columnCategori {
		width:100%;
		float:none;
	}
	.menuCategori .subCategori {
		display:none;
	}
	.menuCategori a {
		border-bottom:1px solid #fff;
		padding:20px 20px;
		margin:0;
	}
	
	/* Kontakt sidan */
	.companyMap, .companyInfo {
		float:none;
		width:97%;
		padding:0;
		margin:0 1.5%;
	}
	.personContact {
		width:100%;
		margin:20px 0;
	}
}


/*******************************/
/************ 2015 *************/
/*******************************/

/***** Nyheter/Aktuellt *****/
.content .news {
    margin-left: 2%;
    width: 96%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.content .news .type {
    overflow: auto;
}
.content .news .type div {
    float: left;
    width: 46%;
    padding: 4px 2%;
    font-size: 1.375em; /* 22px */
    color: #aaa;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    transition: 0.7s ease;
}
.content .news .type .active {
    color: #004fa2;
    border-bottom: 2px solid #004fa2;
}
.content .news .type div:hover {
    color: #999;
    border-bottom: 2px solid #999;
}

.itemGroup > div {
    width: 92%;
    margin: 0 auto;
    padding: 6px 2%;
    border-bottom: 1px solid #ddd;
}

.itemGroup > div:last-child {
    border-bottom: 0;
}


.itemGroup a {
    text-decoration: none;
    color: #333;
    display: block;
    padding-left: 0px;
    transition: 0.5s ease;
    cursor: pointer;
}
.itemGroup a:hover {
    text-decoration: none;
    color: #900;
    padding-left: 8px;
}

.itemGroup > div span:first-child {
    padding-right: 12px;
    color: #666;
    font-size: 0.875em;
}

.itemGroup .itemSelector {
    display: none;
    padding-left: 10%;
}

.itemGroup > .pages {
    overflow: auto;
}
.itemGroup > .pages > div {
    width: 50%;
    color: #004fa2;
    float: left;
    cursor: pointer;
    transition: 0.5s ease;
}

.itemGroup > .pages > div:last-child {
    text-align: right;
}

.itemGroup > .pages > div:last-child:hover {
    padding-right: 2%;
    width: 48%;
    color: #900;
}

.itemGroup > .pages > div:first-child:hover {
    padding-left: 2%;
    width: 48%;
    color: #900;
}

/************** Content Objects ****************/
.images { /* bild block - innehåller en stor och 3 små */
	width:100%;
	float:left;
}
.image_small { /* små bilder, 3 st på 100% */
	display:inline-block; /* används istället för float - skapar space, så gör width 1% mindre */
	width:32%;
	margin-top:10px; /* sänk små-bilder så de inte slår den stora */
}
.image_small img { /* Endast SVG - Gäller <img> direct efter image class */
	/* IE fix */
	width:100%;
	height:auto; /* auto */
	
	/* Fluid (funkar det ej på IE (plattar bild)) */
	max-width:100%;
	
	border-radius:4px; /* ger bilder rund kant!! OBS!!! Större bilder sen!! kanske får bli egen klass */
}
.selection { /* val block - innehåller de valen */
	width:58.5%;
	float:left;
}