@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700); /* Standard font, 400=Normal, 700=Bold */
/****
	product.css 
	Skapad av Patricio Santiago
	Copyright Kortsystem i Gislaved AB
	Version 1.0 - 2014-11-01
****/	

/***** Grund *****/
.content {
	padding-top:90px; /* Topmenyn i vägen annars */
	width:100%;
}
.article {
	margin:0 auto; /* centrerar */
	width:93%; /* 3.5% marginaler åt varje sida */
	max-width:960px; /* stoppar tillväxt av websidan när man når denna mått */
	overflow:auto; /* gör att 'float:left' ej hamnar utanför article */	
}

/***** Menyn *****/
.content .menu { /* Omringar menyn */
	margin-top:4px;
	padding:20px 0 20px;
	overflow:auto;
}
.content .column { /* Kolumner, 3st = 33.3.... */
	width:33.333333%;
	float:left;
}
.content .menu a { /* Alla länkar (grund) */
	display:block;
	color:#900; /* #004fa2; */
	font-size:112.5%;
	text-decoration:none;
	font-weight:bold;
	margin-top:20px;
	transition:color 0.75s;
}
.content .menu .sub { /* Länkar som är subkategorier (efter grund) */
	font-size:93.75%;
	margin-top:0px;
	padding-left:20px;
	position:relative;
}
.content .menu .sub:before { /* Skapar subkategori L (strecken) */
	content:'';
	position:absolute;
	height:5px; /* längd på strecken */
	width:5px;
	border:2px solid #900; /* #004fa2; */
	border-right-width:0;
	border-top-width:0;
	top:6px; /* position på strecken */
	left:10px;
}
.content .menu a:hover {
	text-decoration:underline;
	color:#900;
}
/***** Pillar *****/
.content .pillar {
	overflow:auto;
	margin:20px 0 30px;
	
}
.content .pillar>a {
	display:block;
	float:left;
	width:23%;
	margin:0 1%;
	text-decoration:none;
}
.content .pillar img {
	width:100%; /* För IE ska fungera */
	max-width:100%; /* Fungerar inte på IE (men gör samma som ovan)  */
	height:auto;
	border-radius:4px;
}
.content .base {
	background-color:#004fa2;
	position:relative;
	margin-top:25px;
	border-radius:4px;
	padding:10px 5%;
}
.content .base:before {
	content:'';
	position:absolute;
	border:20px solid transparent;
	border-bottom-color:#004fa2;
	left:40%;
	top:-40px; /* bottom -12*2 = -24px */	
}
.content .base>div {
	color:#fff;
}
.content .base>div:first-child {
	font-weight:bold;
	font-size:125%; /* 20px */
}
.content .base>div:last-child {
	font-size:87.5%; /* 14px */
}



.content .wrapper {
    margin-top: 20px;
    overflow: auto;
}

.content .columnOne {
    float:left;
    font-size:112.5%; /* 18px */
    width: 300px;
    margin: 5px 0 5px 5px;
    
    position: fixed;
}

.content .columnOne > a {
    display: block;
    padding: 8px;
    height: 24px;
    cursor: pointer;
    transition: 0.2s ease all;
    text-decoration: none;
    color: #000;
}

.content .columnOne .active {
    font-weight: bold;
    color: #004fa2;
    
    position: relative;
    
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.content .columnOne .active:after {
    display: block;
    background-color: white;
    content: " ";
    top: 0;
    right: -7px;
    position: absolute;
    width: 7px;
    height: 50px;
    
}

.content .columnOne > a:hover {
    color: #004fa2;
    text-decoration: underline;
}

.content .productHeader {
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 36px;
    color: #900;
}

.content .columnTwo {
    margin: 5px 5px 50px 305px;
    
    padding: 8px 0px;
        
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);

}

.content .columnTwo .category {
    overflow: auto;
    border-bottom: 1px solid #ccc;
    padding: 30px 20px 30px 40px;
    
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: block;
    
    position: relative;
    
}

.content .columnTwo .category:last-child {
    border-bottom: none;
}


.content .columnTwo .image {
    width: 200px;
    height: 200px;
    float: right;
    margin: 3px 0;
    text-align: center;
    white-space: nowrap;
}

.content .columnTwo .image > span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.content .columnTwo img { /* Detta gäller själva bilden */
	/* för IE fix kolla html */
	width:100%;
    max-height: 200px;
	max-width: 200px;
    
    vertical-align: top;
}

.content .columnTwo .intro {
    margin-right: 220px;
}

.content .columnTwo .intro > .header {
    font-weight: bold;
    font-size: 200%;
    padding-bottom: 3px;
    transition: 0.2s ease all;
}

.content .columnTwo .category:hover > .intro > .header {
    color: #004fa2;
    text-decoration: underline;
}

.content .columnTwo .intro > .summary {
    font-size: 87.5%;
}

.content .columnTwo .intro > .specifications {
    margin-top: 30px;
    font-size: 87.5%;
}

.content .columnTwo .intro > .specifications > div {
    padding-left: 8px;
}

.content .columnTwo .intro > .specifications > div:first-child {
    padding-left: 0;
}

/***** Collection & Divider (taget från order.css) *****/ 
.important {
	border:2px solid #e5e7ed; /* Ljusgrå ram */
	border-radius:4px;
	margin:10px 0; /* top/down - right/left */
	padding:40px 20px 10px; /* top - right/left - bottom */
	position:relative; /* För att "first-child" positioneras i kanten */
}
.important>div:first-child {
	position:absolute; /* Conditions måste ha relative */
	padding:3px 18px 5px; /* top - right/left - bottom (har +2px pga border 2px) */
	border-bottom-right-radius:4px; /* endast bottom-right ska rundas av */
	font-size:112.5%; /* 18px [18/16*100] */
	color:#333; /* Mörk-mörkgrå */
	background-color:#e5e7ed; /* Ljusgrå (samma som ramen) */
	top:0; /* position från top och left, ska in till kant */
	left:0;
}
/**** Important-class (tar all grundform från "Collection & Dividers" ovan, här ändras bara färgerna till rött) ****/
.important {
	border-color: #004fa2; /* Ram blir mörkröd */
}
.important>div:first-child {
	color:#ddd; /* Texten blir vit pga mörkröda backgrund */
	background-color:#004fa2; /* Rubrik backgrund blir mörkröd */
}



/* Vid 767px ska det shifta till mobil-läge */
@media screen and (max-width: 767px) {
	.content .pillar>a {
		width:48%;
		margin-bottom:10px;
	}
	.content .menu {
		margin-top:-22px;
		padding:0;
	}
	.content .column {
		width:100%;
		float:none;
	}
	.content .menu .sub {
		display:none;
	}
	.content .menu a {
		border-bottom:1px solid #004fa2;
		padding:20px 20px;
		margin:0;
		transition:none;
	}
}